Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2019-06, with the labels that each got.

#1 Initialise the application with spring-boot-template
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  bin/run-in-docker.sh
  build.gradle
  charts/bulk-scan-ccd-event-handler-sample-app/values.yaml
  charts/bulk-scan-sample-app/.helmignore
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
  charts/bulk-scan-sample-app/templates/NOTES.txt
  charts/bulk-scan-sample-app/values.aat.template.yaml
  charts/bulk-scan-sample-app/values.preview.template.yaml
  charts/bulk-scan-sample-app/values.template.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
  settings.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ExampleTest.java
  src/functionalTest/resources/application.conf
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ExampleTest.java
  src/smokeTest/resources/application.conf
Labels: ns:bulk-scan-sample-app-pr-1

#3 Update owasp plugin: 4.0.2 -> 5.0.0
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-sample-app-pr-3

#4 Add Appinsights to Sample App
  build.gradle
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:bulk-scan-sample-app-pr-4
