Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2019-11, with the labels that each got.

#95 Clean up auth config
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/config/AuthConfig.java
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-sample-app-pr-95

#96 Add api version for helm chart
  charts/bulk-scan-sample-app/Chart.yaml
Labels: ns:bulk-scan-sample-app-pr-96

#97 Review service Chart
  Jenkinsfile_CNP
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
  charts/bulk-scan-sample-app/values.aat.template.yaml
  charts/bulk-scan-sample-app/values.yaml
  src/main/resources/application.yaml
Labels: ns:bulk-scan-sample-app-pr-97

#98 Include bsp product chart
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
  charts/bulk-scan-sample-app/values.yaml
Labels: ns:bulk-scan-sample-app-pr-98

#99 use latest bulk-scan-chart
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
Labels: ns:bulk-scan-sample-app-pr-99

#100 Move common models to new package
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/in/InputScannedDoc.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/in/InputScannedDocUrl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/in/JourneyClassification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/out/Address.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/out/DocumentUrl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/out/Item.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/out/SampleCase.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/out/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/AddressExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/utils/OcrFieldExtractor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/InputHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/AddressExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordValidatorTest.java
Labels: ns:bulk-scan-sample-app-pr-100

#101 Move OCR extractors to common package
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/utils/AddressExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/utils/OcrFieldExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/AddressExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-101

#102 Add case updater
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/in/JourneyClassification.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bulk-scan-sample-app-pr-102

#103 Add update case endpoint
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/controllers/UpdateCaseController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/in/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/in/CaseUpdate.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/out/CaseUpdateDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/out/SuccessfulUpdateResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/controllers/UpdateCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bulk-scan-sample-app-pr-103

#104 Updata case: add functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/UpdateCaseTest.java
  src/functionalTest/resources/updatecase/valid-request.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/out/Item.java
Labels: ns:bulk-scan-sample-app-pr-104

#106 use latest bulk-scan-chart and fix the image url
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
  charts/bulk-scan-sample-app/values.yaml
Labels: ns:bulk-scan-sample-app-pr-106

#107 get-ready-helm-version-upgrade
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
  charts/bulk-scan-sample-app/values.yaml
Labels: ns:bulk-scan-sample-app-pr-107
