Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2019-07, with the labels that each got.

#5 Add S2S configuration
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:bulk-scan-sample-app-pr-5

#7 Prevent PMD warnings from failing the build
  build.gradle
Labels: ns:bulk-scan-sample-app-pr-7

#6 Create a class to parse OCR data from raw exception record data
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/CcdCollectionElement.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/ExceptionRecordFieldNames.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/OcrData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/ResultOrErrors.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParser.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParserTest.java
Labels: ns:bulk-scan-sample-app-pr-6

#9 Add a class with OCR data field names
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/OcrFieldNames.java
Labels: ns:bulk-scan-sample-app-pr-9

#10 Feature/extract ccd collection parser
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CcdCollectionParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/CcdDataParseException.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/TestCollectionItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CcdCollectionParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParserTest.java
Labels: ns:bulk-scan-sample-app-pr-10

#11 Create a class for retrieving scanned documents from exception record
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/ScannedDocumentsParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/CallbackProcessingException.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/ScannedDocumentParseTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/ScannedDocumentsParserTest.java
Labels: ns:bulk-scan-sample-app-pr-11

#13 Add controller for ocr validation end point
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/in/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/out/OcrValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/out/OcrValidationResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/RootControllerTest.java
  src/test/resources/ocr-data/ocr-data-empty-fields.json
  src/test/resources/ocr-data/ocr-data-without-form-type.json
  src/test/resources/ocr-data/ocr-data-without-ocr-fields.json
  src/test/resources/ocr-data/valid-ocr-data.json
  src/test/resources/ocr-data/valid-ocr-response.json
Labels: ns:bulk-scan-sample-app-pr-13

#18 Throw exception when OCR data is malformed
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParser.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParserTest.java
Labels: ns:bulk-scan-sample-app-pr-18

#21 Update dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:bulk-scan-sample-app-pr-21

#16 Refactor ocr test data files
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
  src/test/resources/ocr-data/invalid/empty-ocr-fields.json
  src/test/resources/ocr-data/invalid/invalid-form-type.json
  src/test/resources/ocr-data/invalid/missing-form-type.json
  src/test/resources/ocr-data/invalid/missing-ocr-fields.json
  src/test/resources/ocr-data/response/valid-ocr-response.json
  src/test/resources/ocr-data/valid/valid-ocr-data.json
Labels: ns:bulk-scan-sample-app-pr-16

#20 Create models for representing a CCD case
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/Address.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/BulkScanCase.java
Labels: ns:bulk-scan-sample-app-pr-20

#19 Create sample data for testing exception record conversion to CCD case
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/data/SampleCaseConversionData.java
Labels: ns:bulk-scan-sample-app-pr-19

#22 Add a class for transforming exception record into case data
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/config/OcrConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseDataCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseDataCreatorTest.java
Labels: ns:bulk-scan-sample-app-pr-22

#23 Create case transformer
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-23

#17 Add ocr form validator
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/util/OcrFormValidationHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/validators/OcrDataValidatorTest.java
  src/test/resources/ocr-data/valid/valid-ocr-data.json
Labels: ns:bulk-scan-sample-app-pr-17

#28 Update docker file to load image from hmcts public
  Dockerfile
Labels: ns:bulk-scan-sample-app-pr-28

#24 Create a service calling event handler library to create a case
  Jenkinsfile_CNP
  build.gradle
  charts/bulk-scan-sample-app/values.aat.template.yaml
  charts/bulk-scan-sample-app/values.preview.template.yaml
  charts/bulk-scan-sample-app/values.template.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/config/AuthConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/config/ExceptionRecordHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseCreationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/BadCallbackRequestException.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseCreationCallbackHandlerTest.java
Labels: ns:bulk-scan-sample-app-pr-24

#29 BPS-683 Add s2s validation
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/config/AuthConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/AuthService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/UnauthenticatedException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/AuthServiceTest.java
Labels: ns:bulk-scan-sample-app-pr-29

#31 Add integration tests for Ocr data validator endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrValidationTest.java
  src/integrationTest/resources/application.conf
  src/test/resources/ocr-data/invalid/duplicate-fields.json
  src/test/resources/ocr-data/invalid/missing-mandatory-fields.json
  src/test/resources/ocr-data/invalid/missing-optional-fields.json
Labels: ns:bulk-scan-sample-app-pr-31

#30 Case creation callback controller
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/CaseCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/CcdCallbackRequest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/CaseCallbackControllerTest.java
  src/test/resources/callback/request/missing-case-details.json
  src/test/resources/callback/request/well-formed.json
Labels: ns:bulk-scan-sample-app-pr-30

#32 Refactor ocr data field model
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrValidationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrFieldRetriever.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/util/OcrFormValidationHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseCreationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/data/SampleCaseConversionData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/validators/OcrDataValidatorTest.java
  src/test/resources/ocr-data/invalid/duplicate-fields.json
  src/test/resources/ocr-data/invalid/invalid-form-type.json
  src/test/resources/ocr-data/invalid/missing-form-type.json
  src/test/resources/ocr-data/invalid/missing-mandatory-fields.json
  src/test/resources/ocr-data/invalid/missing-optional-fields.json
  src/test/resources/ocr-data/valid/valid-ocr-data.json
Labels: ns:bulk-scan-sample-app-pr-32

#33 Fix a broken argument order
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/CaseCallbackController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/CaseCallbackControllerTest.java
Labels: ns:bulk-scan-sample-app-pr-33

#34 Update Ocr validation endpoint url
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrValidationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/in/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/FormNotFoundException.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
  src/test/resources/ocr-data/invalid/duplicate-fields.json
  src/test/resources/ocr-data/invalid/empty-ocr-fields.json
  src/test/resources/ocr-data/invalid/invalid-form-type.json
  src/test/resources/ocr-data/invalid/missing-form-type.json
  src/test/resources/ocr-data/invalid/missing-mandatory-fields.json
  src/test/resources/ocr-data/invalid/missing-ocr-fields.json
  src/test/resources/ocr-data/invalid/missing-optional-fields.json
  src/test/resources/ocr-data/valid/valid-ocr-data.json
Labels: ns:bulk-scan-sample-app-pr-34

#35 Configure s2s secrets for functional tests
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
Labels: ns:bulk-scan-sample-app-pr-35

#38 Bug - Contact form optional fields list should be different from mandatory fields
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/validators/OcrDataValidatorTest.java
Labels: ns:bulk-scan-sample-app-pr-38

#37 Functional tests config
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/values.template.yaml
  infrastructure/test_config.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-sample-app-pr-37

#39 Add functional tests for Ocr Validation endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrFormValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TestHelper.java
  src/functionalTest/resources/application.conf
  src/functionalTest/resources/invalid-form-data.json
  src/functionalTest/resources/missing-mandatory-fields.json
  src/functionalTest/resources/missing-optional-fields.json
  src/functionalTest/resources/valid-ocr-form-data.json
Labels: ns:bulk-scan-sample-app-pr-39
