Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2019-08, with the labels that each got.

#40 Use Helm charts from hmctspublic repository
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
Labels: ns:bulk-scan-sample-app-pr-40

#41 Cleanup OCR validation files
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrValidationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
  src/test/resources/ocr-data/invalid/invalid-data-format.json
Labels: ns:bulk-scan-sample-app-pr-41

#42 Move ocr validation to separate package
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrFormValidationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/OcrFieldNames.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/FormType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/OcrData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/out/ValidationStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/controllers/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/model/FormType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/model/in/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/model/in/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/model/out/OcrValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/model/out/ValidationStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/services/OcrDataValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/services/OcrFormValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/services/OcrValidationResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/services/exceptions/FormNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseDataCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrFieldRetriever.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrFieldRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/data/SampleCaseConversionData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/validators/OcrDataValidatorTest.java
Labels: ns:bulk-scan-sample-app-pr-42

#43 Remove no longer needed example test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ExampleTest.java
Labels: ns:bulk-scan-sample-app-pr-43

#44 Move auth to common package
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/auth/AuthService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/auth/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/auth/UnauthenticatedException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/controllers/OcrValidationController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/AuthServiceTest.java
Labels: ns:bulk-scan-sample-app-pr-44

#45 Add models for case transformation
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/JourneyClassification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/SuccessfulTransformationResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/ModelTest.java
Labels: ns:bulk-scan-sample-app-pr-45

#47 Bumped Jackson databind version to resolve CVE-2019-14379
  build.gradle
Labels: ns:bulk-scan-sample-app-pr-47

#46 Add service for transforming exception record to a case
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/OcrFieldNames.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/AddressExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/InvalidExceptionRecordException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/SampleCase.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/utils/OcrFieldExtractor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/ModelTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/AddressExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordValidatorTest.java
Labels: ns:bulk-scan-sample-app-pr-46

#48 Rename scanned doc model
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/InputScannedDoc.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/ModelTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-48

#49 Remove no longer needed test
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/ModelTest.java
Labels: ns:bulk-scan-sample-app-pr-49

#50 Remove no longer needed ccd callback handling
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/config/ExceptionRecordHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/config/OcrConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/CaseCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/BulkScanCase.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/CcdCallbackRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/ExceptionRecordFieldNames.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/OcrData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/ResultOrErrors.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseCreationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseDataCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CcdCollectionParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrFieldRetriever.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/ScannedDocumentsParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/BadCallbackRequestException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/CallbackProcessingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/exception/CcdDataParseException.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/CaseCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/ScannedDocumentParseTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/model/TestCollectionItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseCreationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseDataCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/CcdCollectionParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrDataParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/OcrFieldRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/ScannedDocumentsParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/services/data/SampleCaseConversionData.java
Labels: ns:bulk-scan-sample-app-pr-50

#52 Add test for document mapper
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapperTest.java
Labels: ns:bulk-scan-sample-app-pr-52

#51 Move models to more appropriate packages
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/Address.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/CcdCollectionElement.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/SampleCase.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/AddressExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/AddressExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-51

#53 Remove wrapper class for documents
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/CcdCollectionElement.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/SampleCase.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-53

#54 Clean up after removing ccd callback handling
  build.gradle
  src/test/resources/callback/request/missing-case-details.json
  src/test/resources/callback/request/well-formed.json
Labels: ns:bulk-scan-sample-app-pr-54

#55 Add controller for case transformation
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
Labels: ns:bulk-scan-sample-app-pr-55

#56 Wrap scannable items for CCD
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/Item.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/SampleCase.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-56

#57 Removed contact form type
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrFormValidationTest.java
  src/functionalTest/resources/invalid-form-data.json
  src/functionalTest/resources/missing-mandatory-fields.json
  src/functionalTest/resources/missing-optional-fields.json
  src/functionalTest/resources/valid-ocr-form-data.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrValidationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/model/FormType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/services/OcrDataValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/validators/OcrDataValidatorTest.java
  src/test/resources/ocr-data/invalid/duplicate-fields.json
  src/test/resources/ocr-data/invalid/invalid-data-format.json
  src/test/resources/ocr-data/invalid/missing-mandatory-fields.json
  src/test/resources/ocr-data/invalid/missing-optional-fields.json
  src/test/resources/ocr-data/valid/valid-ocr-data.json
Labels: ns:bulk-scan-sample-app-pr-57

#59 Store list of errors in ocr validation exception
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/InvalidExceptionRecordException.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordValidatorTest.java
Labels: ns:bulk-scan-sample-app-pr-59

#60 Handle transformation failures in controller
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/ErrorResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
Labels: ns:bulk-scan-sample-app-pr-60

#58 Prepare functional test suite for more test cases
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrFormValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TestHelper.java
Labels: ns:bulk-scan-sample-app-pr-58

#61 Update jenkins files for loading secrets
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/test_config.tf
Labels: ns:bulk-scan-sample-app-pr-61

#62 Add sample warnings in transformation
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-62

#64 Updated validation to make case sensitive form type matching
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/controllers/OcrValidationController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
Labels: ns:bulk-scan-sample-app-pr-64

#65 Fix status code for validation errors
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
Labels: ns:bulk-scan-sample-app-pr-65

#63 Fix chart template deprecation
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
  charts/bulk-scan-sample-app/values.aat.template.yaml
  charts/bulk-scan-sample-app/values.preview.template.yaml
  charts/bulk-scan-sample-app/values.template.yaml
  charts/bulk-scan-sample-app/values.yaml
Labels: ns:bulk-scan-sample-app-pr-63

#66 Add functional tests for transformation endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TransformationTest.java
  src/functionalTest/resources/exception-records/invalid-missing-last-name.json
  src/functionalTest/resources/exception-records/valid-missing-email.json
  src/functionalTest/resources/exception-records/valid.json
Labels: ns:bulk-scan-sample-app-pr-66

#69 return error messages in JSON format
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrValidationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/ApiError.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
Labels: ns:bulk-scan-sample-app-pr-69

#70 Remove `microserviceName` from tf output
  infrastructure/output.tf
Labels: ns:bulk-scan-sample-app-pr-70
