Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2019-10, with the labels that each got.

#76 Fix request model for transformation endpoint
  src/functionalTest/resources/exception-records/invalid-missing-last-name.json
  src/functionalTest/resources/exception-records/valid-missing-email.json
  src/functionalTest/resources/exception-records/valid.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-76

#78 Revert changes
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/InputScannedDoc.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/InputScannedDocumentUrl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/ScannedDocumentUrl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-78

#77 Provide CCD compatible `url`
  src/functionalTest/resources/exception-records/invalid-missing-last-name.json
  src/functionalTest/resources/exception-records/valid-missing-email.json
  src/functionalTest/resources/exception-records/valid.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/InputScannedDoc.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/InputScannedDocUrl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/DocumentUrl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/InputHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bulk-scan-sample-app-pr-77

#81 Added email value validation for case
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TransformationTest.java
  src/functionalTest/resources/exception-records/valid.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/services/OcrDataValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/services/OcrFormValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/util/ValidationHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidatorTest.java
Labels: ns:bulk-scan-sample-app-pr-81

#82 Update owasp suppressions
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-sample-app-pr-82

#85 use new base 1.4 java image to use default encoding utf-8
  Dockerfile
Labels: ns:bulk-scan-sample-app-pr-85

#84 Copy sample app s2s secret to bulkscan key vault
  infrastructure/main.tf
Labels: ns:bulk-scan-sample-app-pr-84

#87 Suppress one more jackson-databind CVE
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-sample-app-pr-87

#86 Update config files to prepare sample app for AKS migration
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
  charts/bulk-scan-sample-app/values.aat.template.yaml
  charts/bulk-scan-sample-app/values.preview.template.yaml
  charts/bulk-scan-sample-app/values.yaml
  infrastructure/main.tf
  src/integrationTest/resources/application.conf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-sample-app-pr-86

#88 Enable AKS deployment on AAT
  Jenkinsfile_CNP
Labels: ns:bulk-scan-sample-app-pr-88

#89 Fix loading test s2s config
  Jenkinsfile_CNP
Labels: ns:bulk-scan-sample-app-pr-89

#90 Added ingres host and bumped chart
  charts/bulk-scan-sample-app/values.yaml
Labels: ns:bulk-scan-sample-app-pr-90

#91 Disable ASE deployment
  Jenkinsfile_CNP
Labels: ns:bulk-scan-sample-app-pr-91

#92 Bump chart version
  charts/bulk-scan-sample-app/Chart.yaml
Labels: ns:bulk-scan-sample-app-pr-92

#83 Add back exception record ID as it needs to reference in new service case
  src/functionalTest/resources/exception-records/invalid-missing-last-name.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/model/out/SampleCase.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordValidatorTest.java
Labels: ns:bulk-scan-sample-app-pr-83

#93 Enable ase deployment only on demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:bulk-scan-sample-app-pr-93
