Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2019-12, with the labels that each got.

#108 Update Ocr validation endpoint in sample app
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/controllers/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/services/exceptions/FormNotFoundException.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/controllers/OcrValidationControllerTest.java
Labels: ns:bulk-scan-sample-app-pr-108

#109 Update app insights key to use sample app insights instrumentation key
  charts/bulk-scan-sample-app/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-sample-app-pr-109

#110 Add extra logging
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/controllers/UpdateCaseController.java
Labels: ns:bulk-scan-sample-app-pr-110
