Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2020-08, with the labels that each got.

#167 CaseUpdateDetailsValidator
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/controllers/UpdateCaseControllerTest.java
  src/integrationTest/resources/caseupdate/invalid-email-in-case-update-details.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdateDetailsValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/InvalidCaseUpdateDetailsException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/UpdatedCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdateDetailsValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-167

#168 Fixed behaviour of case transformer
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
  src/integrationTest/resources/transformation/invalid-email-in-transformation-details.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/TransformationInputToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/CaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/TransformationInputToCaseTransformerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-168

#169 Update dependencies
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/controllers/OcrValidationController.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-169
