Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2020-02, with the labels that each got.

#125 add terraform version control
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-125

#126 Upgrade checkstyle
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ocrvalidation/model/in/OcrDataValidationRequest.java
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-126

#127 Remove deprecated flag for docker builds
  Jenkinsfile_CNP
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-127

#128 Remove deprecated chart property for preview template
  charts/bulk-scan-sample-app/values.preview.template.yaml
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-128

#129 Fix invalid scenario: scanned documents are required for exception record
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/controllers/UpdateCaseControllerTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/caseupdate/invalid-no-documents.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-129
