Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2020-01, with the labels that each got.

#112 Update dependencies
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:bulk-scan-sample-app-pr-112

#113 add case id to case update
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/in/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-113

#114 fix scannedDocuments list, add value as it is ccd collection
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrFormValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TransformationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/UpdateCaseTest.java
  src/functionalTest/resources/updatecase/valid-request.json
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-114

#117 fix sonarqube test coverage
  build.gradle
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-117

#115 update case - merge case document list with exception document list
  src/functionalTest/resources/updatecase/valid-request.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/utils/ScannedDocumentMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/utils/ScannedDocumentMapperTest.java
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-115

#118 bump chart version
  charts/bulk-scan-sample-app/Chart.yaml
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-118

#119 Update dependencies
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-119

#122 fix logging issue
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-122

#123 it seems we need this lib to bootstrap
  build.gradle
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-123

#121 fix test json data
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/UpdateCaseTest.java
  src/functionalTest/resources/updatecase/valid-request.json
  src/functionalTest/resources/updatecase/valid-response.json
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-121
