Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2020-09, with the labels that each got.

#170 Removed core infra compute references as platform cleaned up core-infra terraform
  infrastructure/state.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-170

#171 Upgrade terraform to 0.13.3
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-171

#173 Use bulk-scan app insights
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-173

#174 Use new request models for case update
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/UpdateCaseTest.java
  src/functionalTest/resources/updatecase/valid-request-auto.json
  src/functionalTest/resources/updatecase/valid-request-manual.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/controllers/UpdateCaseControllerTest.java
  src/integrationTest/resources/caseupdate/invalid-no-documents.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/InputHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-174
