Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2020-07, with the labels that each got.

#149 Add pact provider for ocr
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrValidationContractTest.java
  src/integrationTest/resources/application.properties
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-149

#152 Rename pact test provider
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/PactContractsTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-152

#153 Add new auto case creation fields to the transformation end point
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TransformationTest.java
  src/functionalTest/resources/exception-records/valid-with-auto-case-creation-fields.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/in/ExceptionRecord.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-153

#155 Update transformation service
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/ExceptionRecordToCaseTransformerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-155

#157 Add new transformation end point
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TransformationTest.java
  src/functionalTest/resources/exception-records/valid-auto-case-creation.json
  src/functionalTest/resources/exception-records/valid-exception-record-request.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-157

#156 Changes for auto case update
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/UpdateCaseTest.java
  src/functionalTest/resources/updatecase/valid-request-with-auto-case-update-fields.json
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/in/CaseUpdate.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/in/CaseUpdateDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-156

#158 Rename transformation request class
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/TransformationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/in/CaseUpdate.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/model/in/TransformationInput.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/common/utils/OcrFieldExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/TransformationInputToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/TransformationInputValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/controllers/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/TransformationInputToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/TransformationInputValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-158

#159 Renamed CaseUpdate to CaseUpdateRequest
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/controllers/UpdateCaseController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/model/in/CaseUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-159

#160 Bump tomcat 9.0.36 -> 9.0.37
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-160

#161 Transformation endpoint - check if is automated
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/TransformationInputToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/transformation/services/TransformationInputToCaseTransformerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-161

#162 Refactor CaseUpdaterTest
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/InputHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-162

#164 Added address() method
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/InputHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-164

#165 Extract validator from CaseUpdater
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/UpdatedCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/caseupdate/services/CaseUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-165
