Repository hmcts/bulk-scan-ccd-event-handler-sample-app, pull requests merged in 2020-06, with the labels that each got.

#144 Update dependencies (includes spring boot 2.2.6 -> 2.3.0)
  build.gradle
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/values.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-144

#145 Migrate charts to helm API v2
  charts/bulk-scan-sample-app/Chart.yaml
  charts/bulk-scan-sample-app/requirements.yaml
  charts/bulk-scan-sample-app/values.yaml
Labels: ns:bsp, rel:bulk-scan-sample-app-pr-145

#147 Migrate to java 11
  Dockerfile
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-147

#148 Update dependencies
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-148

#150 Clean up functional test resources
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanccdeventhandler/OcrFormValidationTest.java
  src/functionalTest/resources/ocr-validation/invalid-form-data.json
  src/functionalTest/resources/ocr-validation/missing-mandatory-fields.json
  src/functionalTest/resources/ocr-validation/missing-optional-fields.json
  src/functionalTest/resources/ocr-validation/valid-ocr-form-data.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-sample-app-pr-150
